[2014-02-26 21:17] dpawluk opened #6 "Fixes to prepare for release"
1. Some generic icons for attachments that aren't images (i.e. docs, pdf, mp3, etc...)
2. Ignore redacted.txt files when generating attachment redaction list.
3. Grab error message on ajax.fail and pass to services.notify

[2014-03-13 01:25] #6 closed, assigned to dpawluk

[2014-03-17 15:41] dpawluk opened #16 "Known Issues"
Currently Known Issues
- Currently `this.ticket().comments()` will return `null` for the first `comment.value()` if that ticket was created as a result of a voicemail, facebook post, tweet, or other special channel. To get around this, comments with null values are not included in the set matched for the user's target string. This means that until `comment.value()` returns a non-null value for thi

[2014-03-19 21:38] #16 closed, assigned to dpawluk

[2014-04-14 22:01] zerodistraction opened #21 "Caching issue with Safari 7.0.3"
Please forgive the crappy video quality in this screencast. I exported it as 1080p from Quicktime, but somehow it got messed up. It should be clear enough to see it doesn’t work for me.

https://db.tt/kXHeHjzF

I tested Chrome in an incognito window. In Chrome, I actually get a green on-screen help dialog at the top right, which tells me the redaction was successful and I must refresh the page.

T

[2014-05-01 21:08] #21 closed, assigned to nobody

[2014-05-19 21:13] big-samantha opened #24 "Some attachments fail to redact"
I tend to see this error on the terminal when I run zat server:

[code]

right before I see this in the ticket:

https://www.dropbox.com/s/4plbtamxlbhmvel/Screenshot%202014-05-19%2013.57.12.png

[2014-05-19 22:10] #24 closed, assigned to nobody

[2014-06-27 11:38] ghost opened #25 "Error while uploading"
I get an error if i upload / install this app:

[code]

[2014-06-27 12:12] #25 closed, assigned to dpawluk

[2014-08-21 23:44] Jamman opened #28 "App appears to disable keybaord shortcut"
App appears to disable the CTRL-ALT-M shortcut when in the ticket view in the following circumstance.
- From dashboard use the PLAY option
- Use CTRL-ALT-M
- No pop up menu.

Using latest Chrome version
Other apps include: Custom Text, Linked Ticket, Knowledge Base Suggestions

Disabled all Apps - function works again
Enabled all Apps - function lost
Disable Ticket Redaction App - Function working

[2014-08-22 00:00] #28 closed, assigned to nobody

[2014-10-31 08:59] dvettsa opened #34 "Role restriction isn't working"
I've tried to install this app, but it's only admin's which can use the app. All other roles get's an error saying that their role isn't authorized to use it - although there's no rolerestriction on it.

[2014-11-14 04:41] #34 closed, assigned to nobody

[2015-02-10 10:27] Sarapulov opened #36 "redacted comments are not coming through Ticket sharing interface"
Looks like redacted comments are not coming through Ticket sharing interface. Say, if you redact a comment on one ticket it doesn't get synced into a ticket linked via ticket sharing.

![screen shot 2015-02-10 at 10 25 25](https://cloud.githubusercontent.com/assets/1439823/6125560/3ea97c40-b10f-11e4-8f3b-58b4226bb0c6.png)

![screen shot 2015-02-10 at 10 25 43](https://cloud.githubusercontent.com/a

[2015-02-10 16:57] dpawluk commented on #36
This is an issue that cannot be fixed at the app level. The sharing functionality would need an update.

[2015-02-11 09:27] JamborJan commented on #36
The sharing feature seems to ignore updates. So the only thing you can do for know is install the app on both instances and remove comments / attachments 2 times. This is not nice but as far as I see Zendesk is not that quick with change requests and the chance that an update mechanism for the sharing feature will be introduced soon is rather low.

[2015-02-12 22:51] lstrong opened #37 "Text redaction fails after multiple redactions"
I have a ticket with multiple rows that need to be redacted from the description text. First, the app doesn't work if I try to select multiple lines at the same time. So fine, I am doing line by line, but after I redact multiple times, I start getting a failure message. I refreshed the page, still failure. Gave it some time and then it worked again for another few more redactions, then failure onc

[2015-02-12 23:39] dpawluk commented on #37
This should handle multi-line redactions. I will look into this.

[2015-02-17 17:01] #36 closed

[2015-02-17 17:02] dpawluk commented on #37
@lstrong,

I just finished redacting a whole paragraph of text all at once. Are you sure you are using the latest version, kept updated in the Zendesk Apps Marketplace?

![screen shot 2015-02-17 at 11 00 30 am](https://cloud.githubusercontent.com/assets/5264339/6232851/68293ada-b694-11e4-8904-c462e096b191.png)

[2015-02-17 17:09] lstrong commented on #37
I installed the latest and now multiple line redaction works.

Thanks
--
Luciana Strong
VSI Solutions
469.519.2773 (o)
469.450.8899 (m)
lstrong@vsisolutions.com

From:  Daniel Pawluk <notifications@github.com>
Reply-To:  zendesklabs/ticket_redaction_app
<reply+00a79b86c0828b4f2f73019689e11b845299b0a9358c25e192cf0000000110fb362d9
2a169ce036de032@reply.github.com>
Date:  Tuesday, February 17, 2015 a

[2015-02-17 17:47] #37 closed

[2016-01-28 22:47] dpawluk opened #41 "Hide Interface While Redaction Isn't needed"
Feature request from customer, creating an issue

[2016-01-28 22:52] YesThatAllen commented on #41
Backstory - we rarely want to redact text but often send attachments of trial versions of software.

Being able to redact those later will prevent old versions from being used later, so it'll be nice to save precious app space until we push a [Text] or [Attachment] button

[2016-01-28 23:50] YesThatAllen opened #42 "clarify redacted.txt"
when removing an attachment.. I wonder why bother to leave "redacted.txt" as an attachment?

If it held the names of what was attached, that'd make explain it, i suppose, but I just downloaded and opened an empty file..

[2016-03-14 20:36] dpawluk commented on #42
@YesThatAllen ,
This is actually functionality of the Zendesk API and not the App itself. Unfortunately, I don't have any control over this. You might want to drop a line over on the Zendesk [Product Feedback Forum](https://support.zendesk.com/hc/en-us/community/topics/200132066-Product-feedback). I'll go ahead and close this issue, sorry for the delay in getting you a response.

[2016-03-14 20:36] #42 closed

[2016-03-14 20:38] dpawluk commented on #41
@YesThatAllen, So there is a bigger bug right now that prevents subsequent redactions from being saved (only one at a time is redacted at the moment). I'll be investigating a patch to see if I can work around the bug until it is fixed. I'll also roll out a hide interface feature along with that future patch.

[2016-03-14 20:42] YesThatAllen commented on #42
Thanks @dpawluk there are bigger fish to fry over in the forum ;-)

[2016-03-14 20:44] YesThatAllen commented on #41
Interesting.. we have been using this plugin without issue since these issues were opened. If I see a time when I can't remove more than one item, I can let you know.

Meanwhile, I have been able to remove more than one attachment from a ticket (attachments are basically all I use this for)

[2016-06-16 18:12] blitzd opened #43 "Doesn't work for closed/archived attachments"
Closed or archived attachments don't work with this app, i.e., they cannot be redacted.

[2016-06-16 19:39] YesThatAllen opened #44 "wording for light-agents is misleading"
Light agents get a misleading error:

![screenshot_1677](https://cloud.githubusercontent.com/assets/2879972/16130732/1d77841e-33d0-11e6-8ed9-e3711fd69034.png)

`Unfortunately your role does not have access to redaction. Your administrator can change your role to allow 'ticket deletion' and enable this app.`

Would be far simpler/clearer/better to simply say

`Your role does not have access to reda

[2016-08-18 21:47] dpawluk commented on #43
Correct, closed tickets cannot be modified.

[2016-08-18 21:47] #43 closed

[2016-08-18 21:48] dpawluk commented on #41
Added to repo, submitting app update

[2016-08-18 21:48] #41 closed

[2016-08-18 21:57] aeverson commented on #44
Hi @YesThatAllen ,

I understand your point on sidebar real estate, but I wanted to clarify the point about roles. If you're a light agent, the error message tells you to contact your admin in order to change your role (to a role that allows ticket deletion) in order for the app to work. I get how that could be misinterpreted to mean "alter the properties of your role" though. We do like having th

[2016-08-18 21:57] #44 closed

[2016-09-22 16:27] yesplease opened #46 "How to redact inline images"
Hi, thanks so much for making this great widget!
Is there a way to redact inline images? I inspected the image but couldn't find a string or another way to use the widget interface to remove the inline image.
Thanks!

[2016-09-22 16:29] yesplease commented on #46
Okay so true to form I found out how to do it :)
Leaving this up here in case anyone else comes here looking for the same answer.
To redact an inline image, right click it and find the image url: https://YOURCO.zendesk.com/attachments/token/AbasdfasdfasdfRkt6h2lejfFnUC5x/?name=Screen+Shot+2016-09-22+at+7.44.33+AM.png

or something like that.

Then redact!

[2016-11-29 17:37] dhacker opened #47 "Role Permissions Issues"
Permissions Problem? The app seems to only work for Administrators and does not work for Agents. This appears to be true regardless of what the settings are for "Role Permissions". For example.

If I ENABLE Role Permissions I get two choices, Administrators and Agents. I check them both - the app only works for Administrators.

If I DISABLE Role Permissions the same thing happens. The app only wor

[2016-11-29 22:22] sandlerr commented on #47
Hi @dhacker thanks for opening this issue. Are you unable to even get the app to show up for your agents in the ticket sidebar or is it showing up but failing to redact?

[2016-11-29 22:46] dpawluk opened #48 "special character redaction issues"
`*&&^%#@`

The above was provided as an example. This may have to do with how html entities are encoded now that rich text is...richer. Will investigate a fix however regex will take some time to adjust.

[2016-11-29 22:49] dhacker commented on #48
Actually i figured it out. You have to have it set so that Agents can delete tickets otherwise they can't redact.

[2016-11-29 22:56] dpawluk commented on #48
I think you meant that for a different issue doug, thanks! I'll mark the original as closed

[2016-11-29 22:56] dpawluk commented on #47
@sandlerr it looks like the agent didn't have delete permissions. Closing this one out, thanks!

[2016-11-29 22:56] #47 closed

[2016-11-29 22:57] dpawluk commented on #46
#boom! I'll leave this open as a future enhancement once I figure out an intuitive way to present that with the other attachments. thanks!

[2016-11-30 22:27] dpawluk commented on #48
Turns out this is a bug with the endpoint and not the app. I'll try to submit a support ticket. It only happens in the case of rich text so if you want to temporarily avoid the bug switching to plain text (no rich text) in settings>tickets will fix.

[2017-02-21 15:20] CorrinDuque opened #49 "Redaction Failing"
We are running into functionality issues.  All process steps seem to function fine when using this app but then the result is an error message of "some of your redactions failed" where ALL redactions fail.  We decided to attempt to redact only the acronym 4WS which also repeatedly failed.  I worked with an agent today where we both made more than 10 attempts to redact a short portion of script on

[2017-02-21 22:27] dpawluk commented on #49
@CorrinDuque Thanks for the report. Currently there are some improvements that need to be made because of how ticket updates are handled, meaning one comment can be redacted at a time. Also originally the code was written before html was used in tickets (plain text only) and so that is another enhancement that will have to be made. Since this is free open-source software it will probably be a bit

[2017-02-22 01:54] CorrinDuque commented on #49
Thanks Daniel!  Much appreciated.  Since Zendesk just announced today that they will be removing support for plain text (and they have made improvements to the rich text editor) we are now using the rich text editor.  We made that switch to rich text yesterday.  The redaction issue was today.  Although we do not have a ton of redaction opportunities/needs I did not receive any agent reports of iss

[2017-02-22 03:00] CorrinDuque commented on #49
Hi Daniel,
I did a bit of testing via incognito and did not run into any failure pop ups or functionality issues.  This might have been a cache issue as we just switched over to Rich Text yesterday due to added feature capabilities with added to the rich text editor.  I'll let you know if we run into issues again.

[2017-02-22 03:00] #49 closed

[2017-05-13 02:56] moderatordaniel opened #50 "Textarea too tall"
I would love for the text area to be only a single word height.  The app takes up way too much vertical space when most redactions are for a word or two, or an attachment.  Rarely do I need more than a single line for my text.

[2017-05-15 00:44] Jamman opened #54 "Arrow misplaced?"
The minimise arrow seems to be misplaced and gets an odd border around it when clicked.

![image](https://cloud.githubusercontent.com/assets/3829792/26039213/0eababe8-396c-11e7-82c5-959007f44202.png)

[2017-06-13 17:29] beckyhopper opened #55 "Ticket redaction refresh error"
We are experiencing an issue with the ticket redaction app. From an open ticket, we are unable to redact any images on the first attempt. We have to refresh the page for the app to recognize there are any images to redact.

[2017-06-20 17:41] pipsterjenna opened #58 "Unable to redact text in multiple browsers"
Hi! we are trying to use the redaction app to redact a credit card number emailed to us, the app is stating the redaction is successful, however upon refreshing the page, the text is still there.  W

e have tried this in chrome on a PC and safari on a mac and are having the same issue in both browsers. We also tried on a ticket with a new, open, pending, and solved status.

**Steps to recreate**:

[2017-06-28 16:10] dpawluk commented on #58
@pipsterjenna
I just tried using chrome. Can you provide an example of a similar string to what you are redacting (no actual CC numbers please). Are there special characters or something that might make this unique. Can you redact a phrase like 'hello world' and not just the CC number?

[2017-06-28 16:13] dpawluk commented on #55
@beckyhopper is this right after the image is first uploaded and the page re-saved. I believe this might be a race condition if that is the case as it takes an attachment a little bit of time to register and get picked up by the calls made to the framework. Can you give me a few more specifics for replication please? I just tested with some tickets in my test account and they were recognized when

[2017-06-28 16:15] dpawluk commented on #54
@Jamman

I appreciate the report. I think given the nature of the issue and that a V2 redaction app will be in the works relatively soon that we'll wait on fixing this. I appreciate the report and your time however, thanks!

[2017-06-28 16:15] #54 closed

[2017-06-28 16:15] #50 closed

[2017-06-29 14:50] gunddere opened #59 "One or more of the redactions failed...please try again"
We are getting the error "One or more of the redactions failed...please try again" on some tickets when trying to redact passwords. We try again multiple times and it continues to fail. Is there any way this can be debugged to see what is causing the failure?

[2017-06-29 17:45] pipsterjenna commented on #58
Hi!

It was a string of numbers, but there were some spaces. I entered the numbers individually and was able to redact, I just wasn’t able to redact the entire string.

Don’t forget to smile!

Jenna Wallravin

OPERATIONS MANAGER
P: 805-439-1692
E: JENNA@PIPSTICKS.COM
WWW.PIPSTICKS.COM

[cid:C74AD7EC-56D2-4FB5-B465-D05C6B10598F]<https://www.facebook.com/lovepipsticks/>[cid:CCC01A09-8DD0-48CC-B1A9-8

[2017-08-07 14:30] lherlitz opened #60 "Not fully redacted"
When using the redaction, it's not redacting the HTML version of the origianl email, only the text version.

[2017-08-15 08:30] mikeh89 commented on #59
Hi there, getting the same error when redacting attachments. This only happens when the ticket is closed. Is there a reason this doesn't work for closed tickets?
@gunddere is this happening in closed tickets for you as well?

[2017-08-15 10:22] tim-cotswold commented on #59
We are having the same issue. app uninstalled /zendesk refreshed/app re installed. The ticket we are trying to work on is currencly closed.

[2017-08-15 10:56] gunddere commented on #59
I believe the redaction app actually edits tickets which is why it is failing for you guys on a closed ticket as a closed ticket cannot be edited. You may be able to change the status from closed to an editable status such as solved using the API and then use the redaction app.

I just figured out my problem yesterday. The tickets that the redaction is failing on are in solved status which is bein

[2017-08-15 10:56] #59 closed

[2017-08-15 23:27] bodenlinden opened #61 "App permissions structure not working"
Agents who belong to the correct group are still receiving a permissions error.

![pasted_image_at_2017_08_15_04_26_pm_360](https://user-images.githubusercontent.com/23083136/29340964-982cee06-81d6-11e7-9419-5bf669dba03d.png)

[2017-08-17 12:57] Elofb opened #62 "Not possible to redact attached documents"

[2017-09-25 15:00] dschutz commented on #61
We are experiencing this same issue, but only admins can use the Ticket Redaction plug-in. Any non-admins see the permissions error. This happens regardless of what is checked under the **Role restrictions** settings.

[2017-09-25 21:46] dpawluk commented on #61
@dschutz and @bodenlinden are you 100% sure the users who get this notice have permission to delete tickets. From the error message that seems to be the main issue. The ability to delete tickets is necessary to use the redaction endpoints and in turn the app.

[2017-09-25 21:48] dpawluk commented on #60
@lherlitz can you elaborate what you mean by this? Is information in the ticket not redacted?

[2017-09-25 22:30] lherlitz commented on #60
That’s correct. When viewing the original email from within zendesk, the redacted text is still visible.

Sent from my iPhone

[2017-09-26 16:33] dschutz commented on #61
The ability to delete tickets had been switched off for all our agents. Not sure when or how that happened, but it appeared to be done without our interaction. After turning that back on, redaction works again.

[2017-09-26 18:09] dpawluk commented on #61
@dschutz great to hear this is working for you again. I'll go ahead and close the issue since from the app's perspective it appears everything was working normally.

[2017-09-26 18:09] #61 closed

[2017-09-26 18:12] dpawluk commented on #60
I see. In that case the functionality is unrelated to the app. I would suggest contacting Zendesk regarding the redaction API itself and asking for them to extend the functionality so that these files are included in the redaction functionality provided by the API. The App just uses the API provided by Zendesk and so has no control over "how" things are redacted on the back end.

[2017-09-26 18:12] #60 closed

[2017-09-26 18:14] lherlitz commented on #60
¯\_(ツ)_/¯ they told me to tell you. I didn’t build the app and I really don’t want to be the middle man. You and they are now both aware there is a problem. I’ll leave it up to y’all to figure out who wants to fix it.

[2017-09-26 21:05] dpawluk commented on #60
I appreciate that. I also appreciate your time. Any chance you can give me
the ticket number you had for this so I can reference it when discussing
please? Thanks in advance for the extra info!

On Tue, Sep 26, 2017 at 1:15 PM lherlitz <notifications@github.com> wrote:

--
Daniel Pawluk
Developer Relations Manager

Zendesk <http://www.zendesk.com/>

[2017-09-26 21:09] lherlitz commented on #60
I don’t recall that, I’m afraid.

[2017-09-26 21:15] dpawluk commented on #60
@lherlitz I'll do my best without, however, feel free to post back here if you end up being able to find it after searching your email for the phrase 'redact' or something. Thanks again

[2017-09-28 14:27] Laurenw85 commented on #62
Hi, is there any response to this? I notice this is still an issue.

[2017-10-03 21:51] QuickmarB opened #63 "Redacting links"
When faced with a link, neither the underlying link, nor the the view-able text of the link is redacted.

This would be very beneficial, especially when a customer's computer has been infected and just sent phishing emails into an open ticket...

[2017-10-06 15:58] NYtaz opened #64 "Redaction app is not removing ticket content"
I have copied and pasted the same string values (full name, date of birth, address, phone number) into the redaction app five times in the same ticket, it shows zero matches, I click on Yes, Redact the above Message anyway  and get the usual message to refresh the page to show the redaction and the same string values remain.

I am not getting any error messages. It is as if the redaction app canno

[2017-10-06 16:04] NYtaz commented on #64
I forgot to mention the original email had a screenshot with the information that was converted to plain text when the email was made into a ticket in my zendesk account.

[2017-10-25 14:43] Dan-Ross commented on #64
We see similar issues from ad-hoc testing, it seems that the text detection is broken by apostrophes (possibly other characters as well). We use Rich Text account wide - this would be a great update.

<img width="694" alt="screen shot 2017-10-25 at 10 43 39 am" src="https://user-images.githubusercontent.com/20321359/32005077-639187f6-b971-11e7-862b-a85a4848d8d4.png">
<img width="702" alt="screen s

[2017-10-25 14:44] Dan-Ross commented on #48
Any chance the bug in the endpoint will be resolved? We have apostrophes breaking this as well, so any text with a contraction (won't, don't can't) causes failure, limiting the effectiveness of the tool.

<img width="694" alt="screen shot 2017-10-25 at 10 43 39 am" src="https://user-images.githubusercontent.com/20321359/32005113-7bf0d84c-b971-11e7-844c-0053d770b457.png">
<img width="702" alt="scre

[2017-10-29 23:17] harlandlee opened #65 "Can't redact files from closed ticket"
Ticket is closed and I get the error: 'One or more of the redactions failed...please try again'
The attachment is a zip file.

[2017-11-21 10:01] Bacarden opened #66 "Problem with roles"
Am I misunderstanding something or is there an issue with the tool when my role is not administrator?

I keep getting this: "Unfortunately your role does not have access to redaction. Your administrator can change your role to allow 'ticket deletion' and enable this app
Get Support"

.. even when I chose "no role limitations" in the installation or I edit it afterwards it doesn't allow me to modif

[2017-11-23 01:40] Jamman opened #67 "Missing required key from translations"
I am getting this message when trying to update

"Missing required key from translations/en.json: installation_instructions, long_description"

[2017-11-29 20:11] dpawluk commented on #65
Unfortunately you cannot edit closed tickets by design. The only way to remove the data would be to delete the ticket. This has to do with how Zendesk works, and not the app so there is nothing I can help with. I might suggest joining a discussion about editing closed tickets on the Zendesk product feedback forums. Thanks

[2017-11-29 20:11] #65 closed

[2017-11-29 20:12] dpawluk commented on #62
This issue needs a description, some sort of rep steps, or even a screen shot. I unfortunately can't help based on this one sentence because I can redact attachments on my test tickets.

[2017-11-29 20:14] dpawluk commented on #66
In order to redact a user is required to be able to delete tickets, this has nothing to do with app role restrictions. The error message should explain how to fix this.

[2017-11-29 20:14] #66 closed

[2017-11-30 08:35] Elofb commented on #62
This is not an issue. You can mark this as solved.

Vänliga hälsningar

Eric Löfberg

Team Leader (Onboarding Team)
Mobil: +46 7 038 769 30
Direkt: +46 8 527 525 53

[DIBS - Payments made easy]<http://www.dibs.se/>
From: Daniel Pawluk [mailto:notifications@github.com]
Sent: den 29 november 2017 21:13
To: zendesklabs/ticket_redaction_app <ticket_redaction_app@noreply.github.com>
Cc: Eric Löfberg <e

[2017-12-05 22:16] bwest5280 opened #68 "Redacting Images on a closed ticket"
Hey I need to clear out some images of a customers' IDs that we didn't want sent to us in the first place but it doesn't seem to do that on our closed tickets. Is there a work around?

[2017-12-08 17:00] bwest5280 commented on #68
Also having an issue redacting an image on an open ticket. It's an image but not an attachment. Please help!

[2017-12-20 14:10] gillian-theidco opened #69 "Error: One or more of the redactions failed...please try again"
After clicking Redact This! I am taken to the Confirm your redaction pop up which confirms the text is in one comment but continually get the error One or more of the redactions failed...please try again.
I am only trying to redact a name - no special characters.

Can you please advice me on what I am doing wrong?

Thanks

[2018-01-24 18:44] claudelj opened #70 "Redaction app unable to find comment string it contains a space followed by a return"
When a comment string is contains a space followed by return the app will return that the that string is found in 0 comments.  The space & return can be anywhere within the comment and it will cause the entire string to not be found.

![image](https://user-images.githubusercontent.com/29108532/35350612-5261f6f4-00f3-11e8-8618-fa663f125919.png)

[2018-01-30 00:14] jjmalfant opened #71 "Redaction app does not redact text or numbers anymore"
Hi there,

We have been using your app for over 2 years now without any issues but since last week we have noticed that the application does not redact our text anymore, did you do any recent update?

The application recognise the text to redact example:

"Do you wish to redact the below text?
Note: This will remove the below text, which occurs in 2 comments on this ticket. This change is permanen

[2018-01-31 22:06] dpawluk commented on #71
@jjmalfant it seems like some background work on how tickets are processed prevents the second redaction, so the term might have to be redacted once per each time. Are you refreshing the whole page after making the redaction?

[2018-02-01 01:28] jjmalfant commented on #71
@dpawluk Thanks for the help, refreshing the page does help a bit. It seems to be overall slower for the app to find the text and hide it since the new update. We can live with it for now and keep trying by refreshing and redacting the text again. It would still be worth improving this app and it's processing time to avoid refreshing the page for each redaction.

[2018-02-01 17:08] dpawluk commented on #71
@jjmalfant unfortunately I wrote and maintain this app as a hobby in my free time. If its okay I'm going to leave the V1 version how it is. I'm currently working on a V2 version to be out in a month or so and I can make sure to fix it there. Does that sound workable?

[2018-02-02 02:34] jjmalfant commented on #71
@dpawluk No problem, thanks for the help and your honest reply. We can work with V1 and wait until V2 comes out in a month.

[2018-02-02 21:56] dpawluk commented on #71
Thanks @jjmalfant, if you have any good ideas for the app or added features let me know, now is definitely the time ;) please make a separate issue for any other feedback though so I can organize everything easier, thanks!

[2018-02-02 21:56] #71 closed

[2018-02-02 22:00] dpawluk commented on #70
@claudelj thanks for the feedback. Since this can be worked around (albeit with some hassle) in the current version I'll hold off fixing this for the V2 version coming out in March. Thanks for the feedback!

[2018-02-02 22:00] #70 closed

[2018-02-02 22:01] dpawluk commented on #69
@gillian-theidco does the name have any accented or special characters in in? Can you redact it in parts?

[2018-02-02 22:06] dpawluk commented on #68
@bwest5280
-1 This is a limitation imposed by Zendesk. Closed tickets cannot be edited in any way. If you have to get rid of the information the only way is to delete said ticket.
-2 As for the open ticket problem, for now the only way to do this is to redact the source html link to the image. V2 will attempt to fix this if Zendesk provides a way to individual redact inline images. I wish there wa

[2018-02-02 22:06] #68 closed

[2018-02-02 22:07] dpawluk commented on #67
@Jamman, try installing from the marketplace instead of as a private app. That is the same as the version provided here. Thanks

[2018-02-02 22:07] #67 closed

[2018-02-05 18:34] gdvalderrama commented on #48
This is also a problem for characters like 'ñ' or accents like 'á', etc.

Is this also a limitation of the endpoint?

[2018-02-06 12:09] FridtjofHals opened #72 "Other users not able to use app."
Hi.

I'm having some problems with user management within your app.
In the settings section I have not enabled any restrictions for usage, yet users get message 'Unfortunately your role does not have access to redaction. Your administrator can change your role to allow 'ticket deletion' and enable this app'.
But, if I enable the restriction, and then select a role and/or group, then the message do

[2018-02-06 12:15] FridtjofHals opened #73 "Unsupported characters?"
Hi.

I found a character that I was not able to redact:  '
It was part of a string of text, and the initial screen show it found 1 occurence of the complete string. But when clicking 'Yes, redact...'-button, I was given an error that it did not work. Tried to redact everything before the ' and that workd, clicked F5, and then tried to redact everything after the ' and that worked also.

Do you hap

[2018-02-12 11:00] JorisFabel opened #74 "Original ticket does not get redacted"
I'm testing the setup of the app.
After confirming redaction to a string, the original message is not redacted.
When I hover over the ticket tab I do see the app has redacted the string in other places.
It appears this is a bug.

![screen shot 2018-02-12 at 11 58 23](https://user-images.githubusercontent.com/36405089/36093855-3c7ef74e-0fec-11e8-8636-512027c58c72.png)

![screen shot 2018-02-12 at 1

[2018-02-16 01:20] hightidetech opened #75 "Redaction does not work for HTML email..."
I noticed this behavior for a ticket that was created through the Zendesk Help Center where an update contained a block of HTML that is not redacted in the associated email with the comment update.
<img width="717" alt="html_redacted_snippet" src="https://user-images.githubusercontent.com/22894553/36289322-488f94aa-1274-11e8-9ee4-3f8474464f06.png">

<img width="713" alt="text_redaction_snipet" src

[2018-02-16 01:55] hightidetech commented on #75
Note, this same problem happens for inline images

[2018-02-21 15:48] DarrenTobii opened #76 "ticket redaction app not working"
It is not working at all. Literally nothing. Is there some setting on zendesk or format that it needs to be?

Thank you for any help on this issue.

[2018-03-15 16:59] PPSimonK opened #77 "Trying to redact an attachment from a CC user"
Most of the time I have no issues with redacting data however today I came across an image I was unable to redact - it simply isn't recognised.
I checked the email that had been sent and confirmed it is being sent through as an image.  The only oddity is that it has come from a CC user who is not considered part of the conversation.

I tried removing the app and re-installing to no avail.  Below i

[2018-03-15 19:00] Dan-Ross commented on #48
Any update on the endpoint issue? I don't believe the previous workaround of changing to plaintext is available any longer. GDPR is coming, and redaction will be more important than ever. We keep getting referred by Zendesk to use this application but it's very difficult to do with this issue active.

[2018-03-15 19:30] courthompson opened #78 "Cannot Redact Attachments"
I attempted to redact two PDF files today and received the following message:
<img width="309" alt="screen shot 2018-03-15 at 3 19 59 pm" src="https://user-images.githubusercontent.com/37418884/37486728-bcb58004-2865-11e8-8189-8d92020f4da6.png">

[2018-04-13 15:08] madlatino2008 commented on #72
Hi there,

I am having the same issue. I have made it public to all users but only I am able to use the app since I installed it and no one else can use it. Even if I limit to agents only, they are not able to use it.

[2018-04-13 22:46] itinkoff commented on #72
The same for me as well, the following error is shown
![capture](https://user-images.githubusercontent.com/22316791/38760663-1db7c81e-3fa7-11e8-8976-bc1dcef134a6.PNG)

[2018-04-24 16:06] dpawluk commented on #72
Hi there. Unfortunately this won't be fixed in the current version of the app. A V2 version of the redaction app should be coming out in May however and any issues here should be rectified in that version of the app. Thank you for your patience. @madlatino2008 and @FridtjofHals This might be because the other agents do not have permission to 'delete a ticket'. If you adjust that setting for agents

[2018-05-03 14:45] Winchester80 opened #79 "Cannot redact the text"
in a ticket, i've this problem:
![image](https://user-images.githubusercontent.com/38953238/39583853-53979c1c-4ef1-11e8-9ddb-18d10a97c026.png)

[2018-05-07 03:25] dpawluk commented on #79
@Winchester80 are you using rich text? Can you redact the two pieces separately not including the newline?

[2018-05-07 03:27] dpawluk commented on #75
This is a limitation with the endpoint, and as the app is just a vehicle for the endpoint this needs to be addressed with Zendesk directly. I would avoid mentioning the app and create a ticket that mentions the endpoint is behaving like this. Same with inline attachments. I wish I could help but I only work on this app and the endpoint behavior is out of my hands.

[2018-05-07 03:27] #75 closed

[2018-05-07 03:28] dpawluk commented on #78
@courthompson does it work if redacting one at a time?

[2018-05-07 03:29] dpawluk commented on #76
@DarrenTobii
Can you provide more information, like what you see when you try using the app? Ideally the Zendesk should be set to use Markdown and not rich text for the endpoints to work correctly.

[2018-05-07 03:30] dpawluk commented on #73
@FridtjofHals
If you have rich text enabled almost any character outside of the ASCII range will fail to redact. The redaction feature was released before rich-text was supported. I recommend creating a ticket with Zendesk and asking for redaction to support rich-text. Thanks!

[2018-05-07 03:30] #73 closed

[2018-05-07 03:32] #72 closed

[2018-05-07 06:41] DarrenTobii commented on #76
I pasted the redacted portion and click the button and nothing appears change. Like it never happened. I found a workaround however by making that portion an internal comment, it no longer will appear when submitting a ticket. :)

[2018-05-07 06:59] Winchester80 commented on #79
Hi, yes i try the two pieces not including the newline but don’t work anyway

Da: Daniel Pawluk [mailto:notifications@github.com]
Inviato: lunedì 7 maggio 2018 05:26
A: zendesklabs/ticket_redaction_app <ticket_redaction_app@noreply.github.com>
Cc: Winchester80 <diego.petruzzino@sintesys.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [zendesklabs/ticket_redaction_app] Cannot redact the text

[2018-05-09 20:34] Stacy-Win opened #80 "Redaction on closed tickets"
The app doesn't allow one to redact information from a closed ticket. Which I understand why. But with GDPR coming into effect are there any changes to allow users to redact sensitive and attachments from closed tickets?

[2018-05-17 20:02] #80 closed

[2018-05-21 17:25] dpawluk commented on #79
are their special characters in the text that needs to be redacted? Anything out of the ascii range. I realize that since it is being redacted its too sensitive to share on a public forum. Maybe its possible to redact the text in as small of segments as possible to figure out if there is a specific character that is causing problems?

[2018-05-22 10:20] AleksanderMN commented on #79
We too cannot redact all text, getting same error. I believe the cause is the Nordic letters Æ-Ø-Å. Can you fix that?

[2018-05-22 12:51] Winchester80 commented on #79
I do not think it depends on a problem of special characters because in the text I'm trying to redact, there are not any. In the last attempt I selected a simple "ok" with the same result

[2018-05-25 05:35] YesThatAllen commented on #74
I think more detail is needed. Also, does the problem still show after the ticket's page is reloaded?

[2018-05-25 06:32] buibaokhoi opened #81 "Agent could not redact"
Hi there,

We have installed this app and we really love it. Just one thing that it seems only Admin can do the redaction, agent could not, although we have not enabled either Role/Group restriction.

Do you know what can we do to fix it?

Thanks a lot in advance.

Khôi

[2018-05-29 21:19] melminch commented on #48
Hi :) Seeing an issue with redacting kanji characters, eg: https://shopify.zendesk.com/agent/tickets/9212455
Attempting to redact the merchant address is resulting in an error:

[![alt](https://screenshot.click/29-48-xw7tn-6rlzv.png)](https://screenshot.click/29-48-xw7tn-6rlzv.png)

Reached out to Support-Ops who will continue to monitor this ticket.

[2018-05-29 21:45] melminch commented on #48
Unable to redact kanji characters.

[2018-05-29 23:33] dpawluk commented on #48
Unfortunately this is a known limitation of the redaction endpoint that has
to do with how text is stored in Zendesk. Please feel free to make a
support ticket with Zendesk and reference that the endpoint does not allow
redaction of kanji characters (be sure to mention the endpoint and not the
app). Unfortunately the app can only do what the endpoint does as it relies
on t he endpoints for redacti

[2018-05-30 14:34] Dan-Ross commented on #81
I think ticket redaction requires deletion privileges. If you have a plan that allows you to set permissions for roles, you may need to assign that privilege to agents.

[2018-05-31 06:31] buibaokhoi commented on #81
Thanks a lot Dan. I will try it and see if it works.

Khôi

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Dan Ross <notifications@github.com>
Sent: Wednesday, May 30, 2018 4:35:14 PM
To: zendesklabs/ticket_redaction_app
Cc: buibaokhoi; Author
Subject: Re: [zendesklabs/ticket_redaction_app] Agent could not redact (#81)

I think

[2018-05-31 22:49] diacant commented on #48
@dpawluk I've contacted Zendesk on this and they are working on it. Thanks for the answer. Do you have any idea on when this would be possible or any workaround besides

[2018-06-04 10:40] sarahkillian opened #82 "Could not Redact an attachment"
Hi there, I was unable to redact an attachment on a closed ticket?
Is there anyway this can be done?
The error message I got was -:
**One or more of the redactions failed...please try again**

[2018-06-22 12:27] LANETJ opened #83 "Redaction App not redacting all instances"
At my help desk we need to redact phone numbers of the calls we receive.  The information is considered PII (Personal Identifiable information).   This information cannot be in the ticket.   Zendesk Talk, even with the call recording feature turned off, logs the call details.   The inbound phone number would be considered PII.   For this reason, I need to redact it.   As you can see from the scree

[2018-06-25 08:49] Martiflex commented on #77
I just encountered the same issue: impossible to redact an attachment coming from a CC user

![Screenshot](https://cl.ly/1R2R2I043E2c)

[2018-06-28 16:59] kraftbj commented on #82
Only non-closed tickets can be redacted. You can delete a closed ticket, but otherwise, the ticket is frozen.

[2018-07-04 17:28] brettgoss commented on #69
@dpawluk I received this exact error when trying to redact an image with no special characters in the file name

[2018-07-04 17:53] brettgoss opened #84 "Better error handling when redaction of attachment fails due to ticket closed or solved"
When trying to redact an attachment from a closed on solved ticket, the redaction will fail with a generic: _"One or more of the redactions failed...please try again"_ alert.

As this is a [known Redaction API limitation](https://support.zendesk.com/hc/en-us/community/posts/360002533268-Redact-attachments-from-closed-tickets), a 400 level error is returned from the API. This could probably be bett

[2018-07-17 17:44] brendapiersak commented on #79
We are experiencing the same issue.  No special characters, it will not redact any text from the ticket.

[2018-07-26 23:01] MariaCourseHero opened #85 "Text Redact App"
Currently using the Text Redact App to remove any sensitive customer information like full credit card numbers. We've found instances that we cannot remove URL's that include that information. Would be great to remove URL's in this redaction app.

[2018-07-30 21:22] fmcbel opened #86 "Redacting Existing Logs"
Do we have a timeline as to when we'll be able to purge existing logs when the ticket data is originally created? We have internal reps forward client emails to our Zendesk and we aren't able to redact info from the rep's forwarded email.

NOTE: The Redaction API completely deletes data from Zendesk Support databases, but does not purge existing logs when the ticket data was originally created. Ze

[2018-08-10 21:59] jsg5116 opened #87 "Redact Inline Images"
I'm attempting to redact some info that is in an inline picture, but can't seem to do that.  I've tried redacting attachments, and I get an error that says "One or more of the redactions failed...please try again".  I also tried to redact using the link address as suggested in another ticket, but that did not work either.

[2018-08-24 18:20] Oli2wist opened #88 "What is wrong with your TEXT REDACT APP. I works less than half the time."
Can you please fix this?

[2018-08-24 18:30] Oli2wist commented on #88
And it 90% of the time super low!

[2018-10-10 12:39] mintsev commented on #87
In many cases, we get passport scans as inline images. That's the problem.

[2018-10-10 19:08] laurateichmiller opened #89 "Issue with redactions"
Our company maintains HIPAA compliance and we've been using the redaction app to handle PHI sent in by customers as we were under the impression this was an app created and endorsed by Zendesk. We've found more and more that it's not reliable. We just had a ticket show up in our QA software where the redaction tool didn't work. The agent had used the app to redact attachments that had PHI, but the

[2018-10-16 19:13] Cirius-khae commented on #87
same problem here. How do we redact prior submitted images?

[2018-11-14 17:14] ckav opened #90 "Can't redact image pasted into ticket"
I can't remove image that has been pasted into an email rather than attached.

For security - I need to be able to remove images as well as attachments.

How can I resolve this without deleting the entire ticket?

[2018-11-15 10:10] PPSimonK commented on #90
I used to have this problem regularly but found a tip in one of the forums.
If you copy the link address by right clicking on the image and copying link, then remove that as text redaction, it removes the image.

I haven’t had a problem since.

---
Simon

From: ckav <notifications@github.com>
Reply-To: zendesklabs/ticket_redaction_app <reply@reply.github.com>
Date: Wednesday, 14 November 2018 at 1

[2018-11-15 11:49] ckav commented on #90
Thanks Simon,

I didn't see that tip in the forum, but I did happen to try that yesterday - coping the original image link from the original email, right clicking on the image within the ticket.

The image isn't budging :(

Perhaps I'll try uninstalling the widget and installing it again to see if that works.

For security I need to be able to remove the image but keep the thread of the conversati

[2018-11-15 12:09] ckav commented on #90
I just got feedback from the support team.. pasting here just in case it is useful:

_Thank you for contacting Zendesk Technical Support today via chat - I did get feedback an API call can delete the inline image - You need to add an extra flag when hitting the API endpoint. Once you have the ID you can delete an inline; like other attachments :)

Example:
/api/v2/tickets/comments.json?include_inl

[2018-11-16 20:57] wudoo opened #91 "One or more of the redactions failed...please try again"
Trying to redact a new reply that was in spanish, and getting the above error every time.

Thank you.

[2018-12-11 14:49] infoartservicegroup commented on #91
Same issue here.

[2018-12-12 19:33] adamf-options opened #92 "some users cannot actually use the function"
We have the app installed and we have not got any permissions / prejudges set on it.  some users cannot get the app to function while others have no problem.  everyone can see the app but it seems like only Zendesk admins can actually use the app.

Any assistance is appreciated

[2019-01-07 15:38] laurateichmiller opened #93 "Some users cannot use app"
Just as another user shared, we also have the app installed and don't have any role-based permissions set on it. Some users cannot get the app to function while others have no problem. Everyone can see the app, but only a few individuals on our large team can use it. This app is crucial to our work as we must be HIPAA compliant.

[2019-01-08 11:38] sarahkillian opened #94 "One or more of the redactions failed...please try again"
Can't redact attachments
I have admin access and have allowed agents to delete tickets as someone suggested this could be part of the issue.

[2019-01-08 11:38] sarahkillian commented on #94
Tried on closed tickets - would this make a difference?

[2019-01-09 05:02] Zhukovnl opened #95 "One or more of the redactions failed...please try again"
After clicking Redact This! I am taken to the Confirm your redaction pop up which confirms the text is in one comment but continually get the error One or more of the redactions failed...please try again.
I am only trying to redact a URL or simple name in closed ticket.

Could you help me an advice?

Thanks in advance.

[2019-01-24 18:24] erothman9 opened #96 "Text appears unredacted when selecting "View Original Email""
Text appears unredacted in subsequent comments when the user opts to "view original email." The redacted text only transfers to the "view original email" format if you select the comment in which the text was redacted. There is no way to redact subsequent text that only appears in "view original email" option.

[2019-01-25 18:14] Alexjpulido commented on #96
The app isn't working for me either! After submitting the redaction, the text appears un-redacted.

[2019-02-06 17:28] redfaraon opened #97 "The comment has been redacted without the permission of the agent."
Agent just put comment and this comment was redacted
https://url.upwork.com/_014KyCbxAlF6etJLyDS1OM0U33NfImM-PA

Why did this happen?

[2019-02-06 17:56] diskin commented on #97
My guess is that the text redacted was treated by the app as a credit card number or another sensitive information

[2019-02-06 18:04] redfaraon commented on #97
I try to save comment "test UID 621003027093086208" and it is preserved already edited

[2019-02-15 14:39] rodrigoquinteiro opened #98 "Removal of Zendesk Apps framework v1"
As communicated in https://support.zendesk.com/hc/en-us/articles/360002106888 Zendesk is removing the support for v1. This app currently appears as a v1 App within the Zendesk.
Are there plans of moving it to v2?

[2019-02-15 14:44] rodrigoquinteiro commented on #98
Nevermind. Just found https://support.zendesk.com/hc/en-us/articles/360002123147 which explains that the migration from v1 to v2 for this app is currently "planned".

[2019-02-15 14:44] #98 closed

[2019-03-08 18:30] asgsgfsat opened #101 "Failed redaction."
Error message:  One or more of the redactions failed...please try again

During the process, the app does recognize the characters:
Do you wish to redact the below text?

Note: This will remove the below text, which occurs in 1 comments on this ticket. This change is permanent and cannot be undone.

The characters appear to be normal characters, but do have a colored background.

[2019-03-13 20:44] leopirrin commented on #78
Hi,

I get the same "One or more of the redactions failed...please try again" when trying to redact the attachments. The problem occurs with all tickets (merged, not merged, created internally, ticket from customers,...)
Also tried with different browsers but the problem remains.

Do you have any suggestion how to delete attachment from ticket without deleting the ticket itself?

Thanks in advance

[2019-03-27 14:12] ghuhtala commented on #101
Same error for me. Tried it previous day and worked but not today...

Simple string of characters, no colored background.

[2019-03-29 15:51] RobertRenda opened #102 "Zendesk upgrade to v2 framework"
The current version of the Redaction App is for Zendesk v1 framework.  When do you expect to release the v2 version of the app for Zendesk.